body{
    background-color:papayawhip;
}

h1{
    color:darkred;
    font-size: 40px;
}

ruby{
    color:darkred;
    font-size: 40px;
}


h2{
    color:cadetblue;
    font-size: 25px;
   
}

h3{
    color:cadetblue;
    font-size: 25px;
   
}

h4{
    color:cadetblue;
    font-size: 25px;
}

p{
    background-color: bisque;
    color:darkcyan;
}


pre{
    background-color: bisque;
    color:darkcyan;

}
